Repository Searge/k8s-controller, changes with the owners that CODEOWNERS names for each.
All owners: @searge, @den-vasyliev, @Alex0M

CODEOWNERS:

* @searge

# Go source code - ensure course instructors review all Go implementations
*.go @den-vasyliev @Alex0M
go.mod @den-vasyliev @Alex0M
go.sum @den-vasyliev @Alex0M

# Core application directories
/cmd/ @den-vasyliev @Alex0M
/pkg/ @den-vasyliev @Alex0M

fix(ci): Disable envtest for now
  Taskfile.yaml
Owners: @searge

fix(ci): Disable Docker build
  .github/workflows/ci.yml
Owners: @searge

chore(config): Remove cache & telemetry from git
  .gitignore
Owners: @searge

feat(tasks): Enable podman support and adds golangci-lint
  Taskfile.yaml
Owners: @searge

chore: Add VSCode Workspace to the git
  .gitignore
  .vscode/K8sController.code-workspace
Owners: @searge

feat(logger): Add tests for packages
  cmd/root_test.go
  go.mod
  pkg/logger/logger_test.go
Owners: @den-vasyliev, @Alex0M

fix(ci): Update to check all go files
  .github/workflows/go.yml
Owners: @searge

Notes added by 'git notes add'
  f642777e0c6b604df6f2731cae233b0d8de320cd
Owners: @searge

fix(ci): Add ignore pattern to covarage
  .github/workflows/go.yml
Owners: @searge

Notes added by 'git notes add'
  4ab86a323fa20686e4c42cbfbe123b8364f233d6
Owners: @searge

fix: Offer more tests for god of tests
  .github/workflows/go.yml
  cmd/version.go
  cmd/version_test.go
  main_test.go
Owners: @searge, @den-vasyliev, @Alex0M

Notes added by 'git notes add'
  375398a9e2a0f2c47deb4822e13362ed969ae5f9
Owners: @searge

Notes added by 'git notes add'
  ea6c54f21110bad76384e652300dd9180ac60f05
Owners: @searge

feat(serve): Implement serve command with fasthttp server
  cmd/serve.go
  cmd/serve_test.go
  go.sum
  pkg/server/server.go
Owners: @den-vasyliev, @Alex0M

chore(dep): Add fasthttp
  go.mod
Owners: @den-vasyliev, @Alex0M

chore(tasks): Add coverage task
  .vscode/K8sController.code-workspace
  Taskfile.yaml
  main_test.go
Owners: @searge, @den-vasyliev, @Alex0M

Notes added by 'git notes add'
  ee7701a4b5f6b9983808e29bee532342f9b2673c
Owners: @searge

Notes added by 'git notes add'
  fd37bd8f06bd2a9c09984194c1a037ceba2b3e14
Owners: @searge

feat(server): Implement HTTP server with health check and default endpoints
  cmd/serve.go
  cmd/serve_test.go
  pkg/server/server.go
  pkg/server/server_test.go
Owners: @den-vasyliev, @Alex0M

refactor(server): Improves server test reliability and cmd args
  cmd/serve.go
  pkg/server/server_test.go
Owners: @den-vasyliev, @Alex0M

feat(tasks): Add `revive` linter
  .config/revive.toml
  Taskfile.yaml
Owners: @searge

Notes added by 'git notes add'
  ed5e40ccbde0224d26ecf83f63075e007db5583e
Owners: @searge

Notes added by 'git notes add'
  dcbd48a00609b75282561b2428d84097b152dd47
Owners: @searge

fix(server): Increase test coverage
  pkg/server/server_test.go
Owners: @den-vasyliev, @Alex0M

fix(go): Update code regarding Go Style Guide
  cmd/root.go
  cmd/root_test.go
  cmd/version.go
  cmd/version_test.go
  pkg/logger/logger.go
  pkg/logger/logger_test.go
Owners: @den-vasyliev, @Alex0M

feat(tasks): Add task for all linters
  Taskfile.yaml
Owners: @searge

Notes added by 'git notes add'
  17539c902370133942c13375ff6c03e5cdaefd8f
Owners: @searge

Notes added by 'git notes add'
  938fbfe6fe6045354156ca1e8f3d07c71ce2b53e
Owners: @searge

feat(docs): Add API documentation
  docs/api.md
Owners: @searge

feat(docs): Update README with prerequisites and progress
  README.md
Owners: @searge
